<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smoothies</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Smoothies</a></h1>
    <ul>
      <% if (currentUser) { %>
      <li>Bienvenue : <%= currentUser.email%></li>
      <li><a href="/logout">logout</a></li>
      <% } else { %>
      <li><a href="/login">Connexion</a></li>
      <li><a href="/signup" class="btn">S'enregistrer</a></li>
      <% } %>
    </ul>
  </nav>
  