<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Recette de smoothies</h2>
    <h3>The ninja path</h3>
    <a href="/smoothies" class="btn">Voir les recettes</a>
  </div>
</header>


<%- include('partials/footer'); -%>