<%- include('partials/header'); -%>

<form action="">
    <h2>Log in</h2>
    <label for="email"> Courriel</label>
    <input type="text" name="email" required>
    <div class="email error"></div>
    <label for="password"> Mot de passe</label>
    <input type="password" name="password" required>
    <div class="password error"></div>
    <button>Se connecter</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e)=> {
        e.preventDefault();

        //reset error
        emailError.textContent = '';
        passwordError.textContent = '';

        //get the values
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: { 'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);

            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user){
                location.assign('/');
            }


        } catch (error) {
            console.log(error);
        }
    });

</script>

<%- include('partials/footer'); -%>